
<html>
<head>
  <title>Menu 2 - Doctors</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="videoContainer">
    <video autoplay muted loop id="videoBG" speed="3.0">
        <source src="img/doctor1.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="overlay"></div>
</div>
  <header>
    <nav>
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/menu1">Patients</a></li>
        <li><a href="/menu2">Doctors</a></li>
        <li><a href="/menu3" class="vogue">Appointments</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Doctors</h2>
    <table>
      <tr>
        <th>Doctor ID</th>
        <th>Name</th>
        <th>Speciality</th>
        <th>Actions</th>
      </tr>
      <% doctors.forEach(doctor => { %>
        <tr>
          <td><%= doctor.DoctorID %></td>
          <td><%= doctor.Name %></td>
          <td><%= doctor.Speciality %></td>
          <td>
            <button onclick="showUpdateDoctorForm('<%= doctor.DoctorID %>', '<%= doctor.Name %>', '<%= doctor.Speciality %>')">Update</button>
            <button onclick="deleteDoctor('<%= doctor.DoctorID %>')">Delete</button>
          </td>
        </tr>
      <% }); %>
    </table>
    <h2>Add Doctor</h2>
    <form onsubmit="insertDoctor(event)">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="speciality">Speciality:</label>
      <input type="text" id="speciality" name="speciality" required>
      <button type="submit">Add</button>
    </form>
    <div id="update-doctor-form" style="display: none;">
      <h2>Update Doctor</h2>
      <form onsubmit="updateDoctor(event)">
        <label for="update-doctor-id">Doctor ID:</label>
        <input type="text" id="update-doctor-id" name="doctorID" readonly>
        <label for="update-name">Name:</label>
        <input type="text" id="update-name" name="name" required>
        <label for="update-speciality">Speciality:</label>
        <input type="text" id="update-speciality" name="speciality" required>
        <button type="submit">Update</button>
      </form>
    </div>
  </main>
  <script src="scripts.js"></script>
</body>
</html>